<div>
  Time spent: <b><%= @service.time_spent %></b>
</div>

<table>
  <thead>
    <tr>
      <th>
        URL
      </th>

      <th>
        Title
      </th>
    </tr>
  </thead>

  <tbody>
    <% @service.result.each_with_index do |item, i| %>
      <tr id="results-<%= i %>">
        <td class="url-value">
          <%= item[:url] %>
        </td>

        <td class="title-value">
          <%= item[:title] %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Back', root_url %>
</div>
